<html>
<head>
    <title>Mission Control</title>
    <META id="META" name="viewport" content="width=device-width; initial-scale=1.0" >
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon"/>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
    <table id="conditionstable">
        <tr>
            <th><img id="conditionsicons" src="{{ url_for('static', filename='indoor.png') }}"></th>
            <th><img id= "conditionsicons" src="{{ url_for('static', filename='outdoor.png') }}"></th>
        </tr>
        <tr>
            <td><h3>{{ conditions['indoor']['temp'] }}°c</h3></td>
            <td><h3>{{ conditions['outdoor']['temp'] }}°c</h3></td>
        </tr>
        <tr>
            <td><h3>{{ conditions['indoor']['humidity'] }}%</h3></td>
            <td><h3>{{ conditions['outdoor']['humidity'] }}%</h3></td>
        </tr>
    </table>
    <form method="post">
	<input id="switch" type="submit" name="onoff" value="{{ switch_text }}">
    </form>
    <form method="post">
	<input id="switch" type="submit" name="startTimer" value="Start Timer (min)">
        <input id="timerinput" type="number" id="time" name="time" placeholder="30" size="3" maxlength="3">
    </form>
<body>
</html>
